		body, html {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			background-color:#26394E ;
			
		}

		#menu {
			height: 100%;
			position: fixed;
			background-color: #00000080;
			width: 300px;
			transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
			transform: translateX(-100%);
			left: 60px;
		}

		#menu.expanded {
			transform: translateX(0%);
			left: 0px;
		}

		.menu-inner {
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
		}

		#blob {
			top: 0;
			z-index: -1;
			right: 60px;
			transform: translateX(100%);
			height: 100%;
			position: absolute;
		}

		#blob-path {
			height: 100%;
			fill:  #00000080;
		}

		.hamburger {
			right: 20px;
			position: absolute;
			width: 20px;
			height: 20px;
			margin-top: -10px;	
		}

		.hamburger .line {
			width: 100%;
			height: 4px;
			background-color: #fff;
			position: absolute;
		}

		.hamburger .line:nth-child(2) {
			top: 50%;
			margin-top: -2px;
		}

		.hamburger .line:nth-child(3) {
			bottom: 0;
		}
		

		/* define a fixed width for the entire menu */
		.navigation {
		  width: 300px;
		}

		/* reset our lists to remove bullet points and padding */
		.mainmenu, .submenu {
		  margin: 0;
		}

		/* make ALL links (main and submenu) have padding and background color */
		.mainmenu a {
		  display: block;
		  text-decoration: none;
		  padding: 10px;
		  color: #fff;
		}

		/* add hover behaviour */
		.mainmenu a:hover {
			background-color: #b9b7b733;
		}


		/* when hovering over a .mainmenu item,
		  display the submenu inside it.
		  we're changing the submenu's max-height from 0 to 200px;
		*/

		.mainmenu li:hover .submenu {
		  display: block;
		  max-height: 200px;
		}


		/* this is the initial state of all submenus.
		  we set it to max-height: 0, and hide the overflowed content.
		*/
		.submenu {
		  overflow: hidden;
		  max-height: 0;
		  -webkit-transition: all 0.5s ease-out;
		}

		h1 {
			position: fixed;
			right: 0;
			margin: 0;
		}



		ul li {
			color: #fff;
			font-family: sans-serif;
			padding: 5px 0;
		}

		h2 {
			position: absolute;
			left: 50%;
			color: #fff;
			margin: 0;
			font-size: 16px;
			font-family: sans-serif;
			font-weight: 100;
		}


	